{{ partial "header.html" . }}

<div class="container list">
<main>

{{ with .Content }}
<section class="article-list">
<div>{{ . }}</div>
</section>
{{ end }}

{{ range $i, $p := .RegularPages }}
<section class="article-list"{{ with .Params.style }}{{ printf " style=%q" . | safeHTMLAttr }}{{ end }}>
  <table>
  <tbody>
  <tr>
  {{if (eq (mod $i 2) 0) }}
  <td class="side-title"><h1>{{ $p.Title }}</h1></td>
  <td class="spacer spacer-left"></td>
  <td>{{ $p.Content }}</td>
  {{ else }}
  <td>{{ $p.Content }}</td>
  <td class="spacer spacer-right"></td>
  <td class="side-title"><h1>{{ $p.Title }}</h1></td>
  {{ end }}
  </tr>
  </tbody>
  </table>
</section>
{{ end }}

{{ $pages := .Pages }}
{{ $pages = first (default 6 .Site.Params.homePosts) (sort (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) "Date" "desc") }}

{{ range $pages }}
  <section class="article-list post-card{{ if .Draft }} draft{{ end }}">
    <table>
    <tbody>
    <tr>
    <td>
    {{ with .Params.categories }}
    {{ range first 1 . }}
    <div class="categories">
      <a href="{{ relURL (print "/categories/" . "/" | urlize) }}">{{ . }}</a>
    </div>
    {{ end }}
    {{ end }}
    <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
    <div>
      {{ if .Date }}<span>{{ .Date.Format "2006-01-02" }}</span>{{ end }}
      {{ with .Params.author }}<span>{{ . }}</span>{{ end }}
    </div>
    <div class="summary">
      {{ $summary := .Description }}
      {{ if $summary }}
      {{ $summary = (markdownify $summary) }}
      {{ else }}
      {{ $summary = ((delimit (findRE "(<p.*?>(.|\n)*?</p>\\s*)+" .Content) "[&hellip;] ") | plainify | truncate (default 230 .Site.Params.summaryLength) (default " &hellip;" .Site.Params.textTruncated ) | replaceRE "&amp;" "&") }}
      {{ end }}
      {{ $summary | safeHTML }}
      <a href="{{ .RelPermalink }}" class="more" title={{ i18n "readMore" }}>{{ i18n "readMore" }} &rarr;</a>
    </div>
    </td>
    <td class="spacer spacer-right"></td>
    <td class="side-title">{{ with .Section }}<h1><a href="{{ print "/" . "/" | relURL }}">{{ . }}</a></h1>{{ end }}</td>
    </tr>
    </tbody>
    </table>
  </section>
{{ end }}


</main>
</div>

{{ partial "footer.html" . }}
